.contact-body main {
  display: flex;
  flex-flow: row wrap;
  height: 60vh;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.contact-body main section {
  font-family: Helvetica;
  width: 160px;
  height: 160px;
  display: flex;
  justify-content: center;
}

.contact-body a img {
  max-width: 64px;
}

.contact-body main section a {
  color: azure;
  display: flex;
  flex-flow: column-reverse;
  justify-content: center;
  align-items: center;
  border: 1px solid azure;
  padding: 1.6em 0em 0em 0em;
  border-radius: 20px;
  min-width: 134px;
  /* scale: 1;
  transition: scale 0.5s ease; */
  /* overflow: hidden; */
}
/* .contact-body main section a:hover {
  scale: 1.1;
  transition: scale 0.5s ease;
} */

.contact-body .email-contact {
  height: 20vh;
  display: flex;
  color: azure;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.contact-body .email-contact img {
  max-width: 64px;
}
.contact-body .email-contact button {
  width: 180px;
  background-color: transparent;
  border: none;
  color: azure;
  font-family: Helvetica;
  font-weight: 500;
  /* border: 1px azure solid; */
  padding: 1em;
  border-radius: 24px;
  box-shadow: none;
  transition: box-shadow 1s ease;
}

.contact-body .email-contact button:hover {
  box-shadow: 0 0 0 1px azure;
  transition: box-shadow 1s ease;
}


.contact-body main section a img {
  scale: 1;
  transition: scale 0.5s ease;
}
.contact-body main section a img:hover {
  scale: 1.1;
  transition: scale 0.5s ease;
}