@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@100;400&display=swap');

* {
    margin: none;
    padding: none;
    box-sizing: border-box;
    overflow-x: hidden;
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: var(--color-main-strongest); /* or add it to the track */
}

body {
    background-color: rgb(26, 26, 26);
    color: azure;
    font-size: 1.1rem;
}

:root{
    --color-main: rgba(15, 36, 29, 0.599);
    --color-main-strongest: rgba(6, 26, 19, 0.6);
}

/* config padrão acima */
a {
    color: azure;
}
.home-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    min-height: 100vh;
    font-family: 'MuseoModerno', cursive;
    font-weight: 400;
}


.profile {
    border-radius: 50%;
    animation-duration: 2s;
    animation-name: border-blink;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    max-width: 260px;
}

.card-1 {
    margin-top: 10px;
    text-align: center;
    background-color: var(--color-main);
    border-radius: 20px;
    min-width: 420px;
    width: 40vw;
    border: 2px solid rgb(13, 82, 12);
    padding: 1.2em;
    padding-top: 5.3em;
}

.name {
    position: absolute;
    font-family: 'Silkscreen', cursive;
    color: tomato;
    font-size: 2.4em;
    animation: zoomin 2s infinite;
    animation-timing-function: ease-in-out;
    line-height: 3;
}

.card-2 {
    background-color: var(--color-main);
    padding: 1rem;
    border-radius: 20px;
    min-width: 40vw;
    display: flex;
    gap: 1rem;
    justify-content: center;
    border: 2px solid rgb(13, 82, 12);
}

.card-2 > p {
    background-color: var(--color-main-strongest);
    padding: .8rem;
    border-radius: 14px;
}

.card-links {
    max-width: 95vw;
    min-width: 40vw;
    display: flex;
    justify-content: space-evenly;
}

.link-icons {
    max-width: 42px;
}

.links {
    background-color: var(--color-main);
    padding: 1.4rem;
    border: 2px solid rgb(13, 82, 12);
    border-radius: 14%;
    text-decoration: none; 
    display: flex;   
    align-items: center;
}

.links:hover {
    border: 2px solid tomato;
}

.links > img:last-child {
    display: none;  
}

.links:hover > img:last-child {
    display: block;  
}

.links:hover > img:first-child {
    display: none;
}



@media only screen and (max-width: 600px) {
    .home-body > .name {
        text-align: center;
    }
    .home-body > .card-1 {
        padding-top: 8.8em;
        min-width: 95vw;
    }
    .home-body > .card-links {
        min-width: 100vw;
        justify-content: space-evenly;
    }
    .home-body > .card-2 {
        min-width: 95vw;
    }
}

@keyframes zoomin {
    0% {
      font-size: 1.6em;
    }
   
    50% {
      font-size: 1.2em;
    }

    100% {
        font-size: 1.6em;
    }
}

@keyframes border-blink {
    0% {
        border: 3px solid rgba(255, 99, 71, 0.742);
    }
    50% {
        border: 3px solid rgba(255, 99, 71, 0);
    }
    100% {
        border: 3px solid rgba(255, 99, 71, 0.742);
    }
}
