.projects-body main {
  font-family: Helvetica;
  /* border: 1px solid red; */
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.projects-body main section img {
  max-width: 64px;
}

.projects-body main section {
  display: flex;
  flex-flow: column;
  align-items: center;
  border: 1px solid azure;
  padding: 2em;
  border-radius: 24px;
}

.projects-body main section .project-button {
  color: azure;
  border: 1px solid azure;
  padding: 1em;
  border-radius: 24px;
}

.projects-body main section .project-button:hover {
  background-color: azure;
  color: black;
}