.tech-body main {
  max-width: 50vw;
  min-height: 80vh;
  margin: 0 auto;
  color: azure;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  font-family: Helvetica;
  /* border: 1px solid red; */
  align-items: center;
}

.tech-body main h4 {
  letter-spacing: 1px;
  text-align: center;
}

.tech-body main img {
  max-width: 64px;
  max-height: 64px;
}

.tech-body main section {
  border: 1px solid azure;
  padding: 24px;
  border-radius: 24px;
}
