* {
    margin: none;
    padding: none;
    box-sizing: border-box;
}

body {
    background-color: rgb(46, 46, 46);
    color: azure;
}

:root{
    --color-main: rgba(9, 39, 29, 0.599);
}

/* config padrão acima */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .4rem;
}

.profile {
    border-radius: 50%;
}

.card-1 {
    text-align: center;
    background-color: --color-main;
    padding: 1rem;
    border-radius: 20px;
}

.card-2 {
    text-align: center;
    background-color: --color-main;
    padding: 1rem;
    border-radius: 20px;
}

.links {
    color: tomato;
    padding: 1rem;
    border: 2px solid tomato;
    border-radius: 60%;
    text-decoration: none;
}

.links:hover {
    color: azure;
    background-color: var(--color-main);
    border: 2px solid azure;
}