@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
* {
    margin: none;
    padding: none;
    box-sizing: border-box;
}

body {
    background-color: rgb(26, 26, 26);
    color: azure;
    font-size: 1.1rem;
}

:root{
    --color-main: rgba(9, 39, 29, 0.599);
    --color-main-strongest: rgba(6, 26, 19, 0.6);
}

/* config padrão acima */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.4rem;
    min-height: 100vh;
}

.profile {
    border-radius: 50%;
}

.card-1 {
    text-align: center;
    background-color: var(--color-main);
    padding: 1rem;
    border-radius: 20px;
    min-width: 40vw;
    border: 2px solid rgba(240, 255, 255, 0.498);
}

.card-1 > h1 {
    font-family: 'Silkscreen', cursive;
    color: tomato;
    font-size: 2.4em;
    animation-duration: 2s;
    animation-name: zoomin;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.card-2 {
    background-color: var(--color-main);
    padding: 1rem;
    border-radius: 20px;
    min-width: 40vw;
    display: flex;
    gap: 1rem;
    justify-content: center;
    border: 2px solid rgba(240, 255, 255, 0.498);
}

.card-2 > p {
    background-color: var(--color-main-strongest);
    padding: .8rem;
    border-radius: 14px;
}

.card-links {
    display: flex;
    gap: 1.4rem;
}

.links {
    background-color: var(--color-main);
    color: azure;
    padding: 2rem;
    border: 2px solid rgba(240, 255, 255, 0.498);
    border-radius: 60%;
    text-decoration: none;    
}

.links:hover {
    color: tomato;
    border: 2px solid tomato;
}

@keyframes zoomin {
    0% {
      font-size: 2.4em;
    }
   
    50% {
      font-size: 2em;
    }

    100% {
        font-size: 2.4em;
    }
  }